*{
    margin: 0%;
    padding: 0%;
}

.formaPagmento{
width: 300px;
background-color:aquamarine;
padding: 16 px;
margin: 10px;
border: 1 px solid black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

th{
    background-color: brown !important;
    padding: 0%5px!important;
}